/*---------------------------------Global Styles-----------------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.row {
	display: flex;
	margin: 25px 0px;
	flex-wrap: wrap;
}
/*-----------------------------------Navigation Styles------------------------------------*/
.mainNav {
	text-align: center;
	background-color: #151D2A;
	padding: 30px;
	width: 100%;
	position: fixed;
}

.mainNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mainNav li {
	padding: 14px 20px;
	display: inline;
}

.mainNav li a {
	text-decoration: none;
	color: #595959;
	font-weight: 700;
	padding: 15px 25px;
	border: 1px solid #595959;
	-webkit-transition: all .5s;
}

.mainNav li a:hover {
	transition-timing-function: ease-in-out;
	color: #FFFFFF;
	border: 1px solid #fff;
}
/*------------------------------Hamburger styles----------------------------------------------*/
.hamburger {
	display: none;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*---------------------------------titleImgcontainer styles------------------------------------*/
.titleImgContainer {
	background-image: url(images/forest-leaf.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	text-align: center;

}

.titleImgContainer h1 {
	margin: 0;
	font-size: 70px;
	padding-top: 200px;
}

.titleImgContainer h1, h2 {
	color: white;
	text-shadow: 2px 2px #000;
}

.titleImgContainer h2 {
	padding: 10px;
}

/*------------------------------------About Us section----------------------------------*/

.about-us-section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 70px;
	text-align: left;
	margin-left: 70px;
	margin-right: 70px;
}

.card {
	background-color: #F2F2F2;
	margin: 20px;
	flex: 1;
}

.card img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.cardText {
	padding: 2px 16px;
	line-height: 1.6em;
	color: #333333;
	font-size: 15px;
}

.biggerCardText {
	padding: 27px;
	text-align: left;
	line-height: 1.6em;
	color: #333333;
}

.card1Title {
	color: #178A27;
}
.card2Title {
	color: #1686C1;
}
.card3Title {
	color: #852406;
}

.card1Title, .card2Title, .card3Title {
	font-size: 20px;
	font-weight: 700;
}

.biggerCardTitle {
	color: #666666;
	text-shadow: none;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.green-btn, .blue-btn, .red-btn {
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	padding: 10px 30px;
}

.green-btn {
	background-color: #178A27;
	transition: background-color .5s;
	font-size: 18px;
}
.green-btn:hover {
	background-color: #429F4E;

}
.blue-btn {
	background-color: #1686C1;
	transition: background-color .5s;
	font-size: 18px;
}
.blue-btn:hover {
	background-color: #449DCD;
}
.red-btn {
	background-color: #852406;
	transition: background-color .5s;
	font-size: 18px;
}
.red-btn:hover {
	background-color: #9C4C34;
}

.biggerCardBtn {
	color: #666;
	padding: 10px 30px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	text-decoration: none;
}

.btn-div {
	text-align: center;
	padding-bottom: 30px;
	margin-top: 40px;
}

.biggerCardBtnDiv {
	text-align: right;
}

/*--------------------------------Services Section--------------------------------------*/

.services-section {
	text-align: left;
	margin: 0 70px;
	display: flex;
	flex-wrap: wrap;
}

.services {
	display: flex;
	margin-top: 60px;
}

.services-banner-img {
	text-align: center;
	background-image: url(images/servicesimg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 70%;
	height: 45vh;
	margin: 0;
}

.services-banner-img h2 {
	margin: 0;
	font-size: 50px;
	padding-top: 40px;
}

/*----------------------------------Contact form section ---------------------------------*/
.contact-form {
	text-align: center;
	background-image: url(images/contactleaf.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	padding-bottom: 60px;
}

.contact-form h2 {
	font-size: 50px;
}


.contact-content-p {
	display: flex;
	justify-content: center;
}

.contact-p {
	background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
	border-radius: 5px;
	color: #000;
	font-size: 15px;
	padding: 20px 15px;
	margin: 20px;
}

.contact-content-form {
	display: flex;
	width: 100%;
	justify-content: center;
}

.contact input{
	background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
	border-radius: 5px;
	color: black;
	font-size: 15px;
	padding: 10px 15px;
	margin: 5px;
	border: none;
	width: 350px;
}

.contact input::placeholder {
	color: black;
}

.textarea {
	background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
	border-radius: 5px;
	color: black;
	font-size: 15px;
	padding: 10px 15px;
	margin: 5px;
	border: none;
	width: 500px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.textarea::placeholder {
	color: black;
}

.submit-btn {
	color: #595959;
	font-weight: 700;
	padding: 15px 25px;
	border: 1px solid #595959;
	background-color: #151D2A;
	margin-top: 20px;
	transition: color border .5s;
}

.submit-btn:hover {
	transition-timing-function: ease-in-out;
	color: #FFFFFF;
	border: 1px solid #fff;
}

footer {
	text-align: center;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 15px;
}

footer h3 {
	font-size: 32px;
	font-style: italic;
	color: #151D2A;
}

footer p {
	font-style: italic;
	color: #151D2A;
	margin: 20px 20px 40px 20px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #eee;
}

.copyright {
	font-style: normal;
	font-size: 12px;
}

/*-----------------------------------Media Queries---------------------------------------*/
@media all and (min-width: 320px) and (max-width: 533px) {
	.row {
		display: initial;
		margin: 40px 0px;
	}

	.toggleDisplay {
		display: block!important;
	}

	.mainNav {
		padding: 0;
		position: initial;
		display: none;
	}

	.mainNav li {
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		margin: 10px 0;
		border-bottom: 1px solid #595959;
	}

	.mainNav li:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}

	.mainNav li a {
		border: none;
		padding: 0;
	}

	.hamburger {
		display: initial;
		position: absolute;
		z-index: 2;
		right: 0;
		margin-right: 10px;
		margin-top: 10px;
	}

	.about-us-section {
		display: initial;
	}

	.card {
		margin: 30px 20px;
	}

	.card img {
		max-height: 200px;
	}

	.services-banner-img {
		background-position: 65% 70%;
	}

	.services-banner-img h2 {
		padding-top: 100px;
	}

	.services {
		display: initial;
	}

	.services-section {
		margin: 0;
	}

	.contact-content-p {
		display: initial;
	}

	.contact-content-form {
		display: initial;
	}

	.contact input {
		width: 250px;
	}

	.textarea {
		width: 250px;
	}
}

@media all and (max-width: 533px) and (orientation: landscape) {
	.titleImgContainer h1 {
		padding-top: 100px;
	}
	.services {
		flex-wrap: wrap;
	}
}

@media all and (max-width: 568px) and (orientation: landscape) {
	.services {
		flex-wrap: wrap;
	}
}

@media all and (max-width: 640px) and (orientation: landscape) {
	.titleImgContainer h1 {
		padding-top: 100px;
	}
}

@media all and (max-width: 667px) and (orientation: landscape) {
	.titleImgContainer h1 {
		padding-top: 100px;
	}
}


@media screen and (min-width: 375px) and (max-width: 812px) {

	.row {
		display: initial;
		margin: 40px 0px;
	}

	.toggleDisplay {
		display: block!important;
	}

	.mainNav {
		padding: 0;
		position: initial;
		display: none;
	}

	.mainNav li {
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		margin: 10px 0;
		border-bottom: 1px solid #595959;
	}

	.mainNav li:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}

	.mainNav li a {
		border: none;
		padding: 0;
	}

	.hamburger {
		display: initial;
		position: absolute;
		z-index: 2;
		right: 0;
		margin-right: 10px;
	}

	.about-us-section {
		display: initial;
	}

	.card {
		margin: 30px 20px;
	}

	.card img {
		max-height: 200px;
	}

	.services-banner-img {
		background-position: 65% 70%;
	}

	.services-banner-img h2 {
		padding-top: 100px;
	}

	.services {
		display: initial;
	}

	.services-section {
		margin: 0;
	}

	.contact-content-p {
		display: initial;
	}

	.contact-content-form {
		display: initial;
	}

	.contact input {
		width: 300px;
	}

	.textarea {
		width: 300px;
	}
}

@media all and (width: 768px) and (height: 1024px) {
	.submit-btn {
		display: flex;
		margin: 0 auto;
	}
}

@media screen and (max-width: 812px) and (orientation: landscape) {
	.services {
		display: flex;
	}
	.services-banner-img {
		height: 70vh;
	}

	.services-banner-img h2 {
		padding-top: 50px;
	}

	.submit-btn {
		display: flex;
		margin: 10px auto;
	}
}